.block-ilp-submitted {
  color: #000000;
}

.block-ilp-error {
  background-color: #FF6666 !important;
}

.block-ilp-submitbutton {
  text-align: center;
}

.block-ilp-title {
  text-align: center;
  font-size: 1.5em;
  margin: 5px;
}

.block-ilp-link-to-grades {
    margin-top: 10px;
}

.block-ilp-groupselector div.groupselector {
    float: inherit;
    text-align: center;
    margin-bottom: 10px;
}

.block-ilp-gradepopulate {
    text-align: center;
    margin-bottom: 10px;
}
